<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{#if title}}
            {{ title }}
        {{ else }}
            Jsach
        {{/if}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">
</head>

<body>

<!-- Nav -->
<div class="nav-container bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg border border-light text-white rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h3 class="m-0">JSACH</h3>
                </a>
            </div>
        </nav>
    </div>
</div>
<!-- /Nav -->